html 
{
    font-size: 14px;
}

@media (min-width: 768px) 
{
    html 
    {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus 
{
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html 
{
    position: relative;
    min-height: 100%;
}

body 
{
    /*background-color: black;*/
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder 
{
    color: var(--bs-secondary-color);
    text-align: end;

}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder 
{
    text-align: start;
}



/* --- Стили для активного пункта в ВЕРХНЕМ меню (header) --- */
.navbar-nav .nav-item .nav-link.active {
    font-weight: 600; /* Делаем текст жирнее */
    color: #0d6efd !important; /* Делаем цвет синим (стандартный цвет Bootstrap) */
    border-bottom: 3px solid #0d6efd;
}


/* --- Стили для макета с боковым меню --- */
.main-wrapper {
    display: flex; /* Включаем Flexbox */
    /* Высчитываем высоту, чтобы макет занимал весь экран до подвала */
    min-height: calc(100vh - 135px); /* Подберите значение, отняв высоту шапки и подвала */
}

.left-menu {
    width: 250px; /* Фиксированная ширина для меню */
    flex-shrink: 0; /* Запрещаем меню сжиматься */
    background-color: #f8f9fa;
    padding: 20px;
    border-right: 1px solid #dee2e6;
}

.main-content {
    flex-grow: 1; /* Занимает все оставшееся пространство */
    padding: 20px 30px;
    overflow-y: auto; /* Добавляем скролл, если контент не помещается по высоте */
}

/* Стили для ссылок в боковом меню для лучшего вида */
.left-menu .nav-item {
    margin-bottom: 5px;
}

.left-menu .nav-link {
    font-size: 1rem;
    padding: 8px 12px;
    border-radius: 5px;
}

nav.left-menu ul .nav-item a.nav-link:hover,
nav.left-menu ul .nav-item a.nav-link.active {
    background-color: #e9ecef;
    color: #000;
}