@{
    ViewData["Title"] = "Список 'статус перевода'";
    // Указываем, какой макет использовать для этой страницы
    Layout = "~/Views/Shared/_AttributesLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<!-- Место, куда JavaScript будет вставлять данные -->
<div id="products-container" class="mt-4">
    <h2>Список продуктов</h2>
    <p>Загрузка...</p>
</div>

@section Scripts
{
    <script src="~/js/author.js"></script>
}